Formatting for Charts

In [1]:
import os
import pandas as pd

In [4]:
# Import MASTER merged
master = os.path.join("..", "Cleaned","MASTER_merged.csv")

In [5]:
# Read imported files
master_df=pd.read_csv(master)

In [9]:
master_df

,Unnamed: 0,ST_CASE,PERSONS,COUNTY,CITY,DAY,MONTH,YEAR,DAY_WEEK,HOUR,...,ALIGNMNT,PROFILE,PAVE_TYP,SUR_COND,TRA_CONT,T_CONT_F,HIT_RUN,C_M_ZONE,latitude,longitud
0,0,480024,2,7,0,4,1,2018,5,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,480024,2,7,0,4,1,2018,5,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,480041,3,439,260,5,1,2018,6,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,480041,3,439,260,5,1,2018,6,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,480044,2,27,3690,6,1,2018,7,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13421,302,483068,1,141,2190,19,12,1998,7,21,...,1.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13422,303,483113,2,201,0,7,10,1998,4,13,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13423,304,483113,2,201,0,7,10,1998,4,13,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13424,305,483167,3,113,2590,10,7,1998,6,21,...,1.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13425,306,483167,3,113,2590,10,7,1998,6,21,...,1.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN

In [10]:
master_df.columns

Index(['Unnamed: 0', 'ST_CASE', 'PERSONS', 'COUNTY', 'CITY', 'DAY', 'MONTH',
       'YEAR', 'DAY_WEEK', 'HOUR', 'MINUTE', 'ROUTE', 'TWAY_ID', 'TWAY_ID2',
       'LATITUDE', 'LONGITUD', 'TYP_INT', 'WEATHER1', 'WEATHER2', 'WEATHER',
       'CF1', 'CF2', 'CF3', 'FATALS', 'AGE', 'SEX', 'REST_USE', 'INJ_SEV',
       'DRINKING', 'DRUGS', 'PER_TYP', 'TRAV_SP', 'PREV_ACC', 'PREV_DWI',
       'PREV_SPD', 'Year', 'ROAD_FNC', 'REL_JUNC', 'TRAF_FLO', 'NO_LANES',
       'SP_LIMIT', 'ALIGNMNT', 'PROFILE', 'PAVE_TYP', 'SUR_COND', 'TRA_CONT',
       'T_CONT_F', 'HIT_RUN', 'C_M_ZONE', 'latitude', 'longitud'],
      dtype='object')

In [16]:
master_df.WEATHER.unique()

array([ 1, 10,  2,  8, 99,  5,  6,  7, 98,  4,  9,  3], dtype=int64)

In [17]:
master_df.TYP_INT.unique()

array([ 2.,  1.,  3.,  4., 10., 98.,  5.,  7.,  6., nan])

In [25]:
# master_df['WEATHER'].replace({"Clear" : 1, "Other": 10, "Other": 2, "Other": 8, "Other": 99, "Other": 5, "Other": 6, "Other": 7, "Other": 98, "Other": 4, "Other": 9, "Other": 3}, inplace=True)
# df["column1"].replace({"a": "x", "b": "y"}, inplace=True
master_df.WEATHER[master_df.WEATHER == 1] = 'Clear'
master_df.WEATHER[master_df.WEATHER == 10] = 'Other'
master_df.WEATHER[master_df.WEATHER == 2] = 'Other'
master_df.WEATHER[master_df.WEATHER == 8] = 'Other'
master_df.WEATHER[master_df.WEATHER == 5] = 'Other'
master_df.WEATHER[master_df.WEATHER == 99] = 'Other'
master_df.WEATHER[master_df.WEATHER == 6] = 'Other'
master_df.WEATHER[master_df.WEATHER == 7] = 'Other'
master_df.WEATHER[master_df.WEATHER == 98] = 'Other'
master_df.WEATHER[master_df.WEATHER == 4] = 'Other'
master_df.WEATHER[master_df.WEATHER == 9] = 'Other'
master_df.WEATHER[master_df.WEATHER == 3] = 'Other'

In [26]:
master_df.WEATHER.unique()

array(['Clear', 'Other'], dtype=object)

In [34]:
master_df.TYP_INT[master_df.TYP_INT == 1.0] = 'No Intersection'
master_df.TYP_INT[master_df.TYP_INT == 2.0] = 'Intersection'
master_df.TYP_INT[master_df.TYP_INT == 3.0] = 'Intersection'
master_df.TYP_INT[master_df.TYP_INT == 4.0] = 'Intersection'
master_df.TYP_INT[master_df.TYP_INT == 10.0] = 'Intersection'
master_df.TYP_INT[master_df.TYP_INT == 98.0] = 'Intersection'
master_df.TYP_INT[master_df.TYP_INT == 5.0] = 'Intersection'
master_df.TYP_INT[master_df.TYP_INT == 7.0] = 'Intersection'
master_df.TYP_INT[master_df.TYP_INT == 6.0] = 'Intersection'

In [35]:
master_df.TYP_INT.unique()

array(['Intersection', 'No Intersection', nan], dtype=object)

In [36]:
master_df.INJ_SEV.unique()

array([4, 0, 1, 3, 2, 9], dtype=int64)

In [41]:
master_df.INJ_SEV[master_df.INJ_SEV == 4] = 'Fatal'
master_df.INJ_SEV[master_df.INJ_SEV == 0] = 'Minor'
master_df.INJ_SEV[master_df.INJ_SEV == 1] = 'Minor'
master_df.INJ_SEV[master_df.INJ_SEV == 2] = 'Minor'
master_df.INJ_SEV[master_df.INJ_SEV == 3] = 'Severe'
master_df.INJ_SEV[master_df.INJ_SEV == 9] = 'Unknown'

In [42]:
master_df.INJ_SEV.unique()

array(['Fatal', 'Minor', 'Severe', 'Unknown'], dtype=object)

In [43]:
master_fatal = master_df.loc[master_df['INJ_SEV'] == 'Fatal']

In [46]:
# write stacked df to csv file
master_fatal.to_csv('../Cleaned/MASTER_fatalOnly.csv')

In [47]:
# write stacked df to csv file
master_df.to_csv('../Cleaned/MASTER_forPlots.csv')