Formatting for Charts

In [1]:
import os
import pandas as pd

In [2]:
# Import MASTER merged
master = os.path.join("..","..", "Cleaned","MASTER_merged.csv")

In [3]:
# Read imported files
master_df=pd.read_csv(master)

In [4]:
# Display df
master_df

,Unnamed: 0,ST_CASE,PERSONS,COUNTY,CITY,DAY,MONTH,YEAR,DAY_WEEK,HOUR,...,ALIGNMNT,PROFILE,PAVE_TYP,SUR_COND,TRA_CONT,T_CONT_F,HIT_RUN,C_M_ZONE,latitude,longitud
0,0,480024,2,7,0,4,1,2018,5,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,480024,2,7,0,4,1,2018,5,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,480041,3,439,260,5,1,2018,6,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,480041,3,439,260,5,1,2018,6,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,480044,2,27,3690,6,1,2018,7,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13421,302,483068,1,141,2190,19,12,1998,7,21,...,1.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13422,303,483113,2,201,0,7,10,1998,4,13,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13423,304,483113,2,201,0,7,10,1998,4,13,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13424,305,483167,3,113,2590,10,7,1998,6,21,...,1.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13425,306,483167,3,113,2590,10,7,1998,6,21,...,1.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN

In [5]:
# Show df columns
master_df.columns

Index(['Unnamed: 0', 'ST_CASE', 'PERSONS', 'COUNTY', 'CITY', 'DAY', 'MONTH',
       'YEAR', 'DAY_WEEK', 'HOUR', 'MINUTE', 'ROUTE', 'TWAY_ID', 'TWAY_ID2',
       'LATITUDE', 'LONGITUD', 'TYP_INT', 'WEATHER1', 'WEATHER2', 'WEATHER',
       'CF1', 'CF2', 'CF3', 'FATALS', 'AGE', 'SEX', 'REST_USE', 'INJ_SEV',
       'DRINKING', 'DRUGS', 'PER_TYP', 'TRAV_SP', 'PREV_ACC', 'PREV_DWI',
       'PREV_SPD', 'Year', 'ROAD_FNC', 'REL_JUNC', 'TRAF_FLO', 'NO_LANES',
       'SP_LIMIT', 'ALIGNMNT', 'PROFILE', 'PAVE_TYP', 'SUR_COND', 'TRA_CONT',
       'T_CONT_F', 'HIT_RUN', 'C_M_ZONE', 'latitude', 'longitud'],
      dtype='object')

In [6]:
# Show unique values
master_df.WEATHER.unique()

array([ 1, 10,  2,  8, 99,  5,  6,  7, 98,  4,  9,  3], dtype=int64)

In [7]:
# Show unique values
master_df.TYP_INT.unique()

array([ 2.,  1.,  3.,  4., 10., 98.,  5.,  7.,  6., nan])

In [8]:
# Change values in Weather column
master_df.WEATHER[master_df.WEATHER == 1] = 'Clear'
master_df.WEATHER[master_df.WEATHER == 10] = 'Other'
master_df.WEATHER[master_df.WEATHER == 2] = 'Other'
master_df.WEATHER[master_df.WEATHER == 8] = 'Other'
master_df.WEATHER[master_df.WEATHER == 5] = 'Other'
master_df.WEATHER[master_df.WEATHER == 99] = 'Other'
master_df.WEATHER[master_df.WEATHER == 6] = 'Other'
master_df.WEATHER[master_df.WEATHER == 7] = 'Other'
master_df.WEATHER[master_df.WEATHER == 98] = 'Other'
master_df.WEATHER[master_df.WEATHER == 4] = 'Other'
master_df.WEATHER[master_df.WEATHER == 9] = 'Other'
master_df.WEATHER[master_df.WEATHER == 3] = 'Other'

C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
master_df.WEATHER.unique()

array(['Clear', 'Other'], dtype=object)

In [10]:
# Change values in TYPE_INT column
master_df.TYP_INT[master_df.TYP_INT == 1.0] = 'No Intersection'
master_df.TYP_INT[master_df.TYP_INT == 2.0] = 'Intersection'
master_df.TYP_INT[master_df.TYP_INT == 3.0] = 'Intersection'
master_df.TYP_INT[master_df.TYP_INT == 4.0] = 'Intersection'
master_df.TYP_INT[master_df.TYP_INT == 10.0] = 'Intersection'
master_df.TYP_INT[master_df.TYP_INT == 98.0] = 'Intersection'
master_df.TYP_INT[master_df.TYP_INT == 5.0] = 'Intersection'
master_df.TYP_INT[master_df.TYP_INT == 7.0] = 'Intersection'
master_df.TYP_INT[master_df.TYP_INT == 6.0] = 'Intersection'

C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [11]:
master_df.TYP_INT.unique()

array(['Intersection', 'No Intersection', nan], dtype=object)

In [12]:
master_df.INJ_SEV.unique()

array([4, 0, 1, 3, 2, 9], dtype=int64)

In [13]:
# Change values in INJ_SEV column
master_df.INJ_SEV[master_df.INJ_SEV == 4] = 'Fatal'
master_df.INJ_SEV[master_df.INJ_SEV == 0] = 'Minor'
master_df.INJ_SEV[master_df.INJ_SEV == 1] = 'Minor'
master_df.INJ_SEV[master_df.INJ_SEV == 2] = 'Minor'
master_df.INJ_SEV[master_df.INJ_SEV == 3] = 'Severe'
master_df.INJ_SEV[master_df.INJ_SEV == 9] = 'Unknown'

C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
master_df.INJ_SEV.unique()

array(['Fatal', 'Minor', 'Severe', 'Unknown'], dtype=object)

In [15]:
# Make df with only Fatal type of 'injury severity'
master_fatal = master_df.loc[master_df['INJ_SEV'] == 'Fatal']

In [16]:
master_df.INJ_SEV.unique()

array(['Fatal', 'Minor', 'Severe', 'Unknown'], dtype=object)

In [17]:
master_df.WEATHER.unique()

array(['Clear', 'Other'], dtype=object)

In [18]:
master_df.TYP_INT.unique()

array(['Intersection', 'No Intersection', nan], dtype=object)

In [19]:
master_df.DAY_WEEK.unique()

array([5, 6, 7, 1, 3, 4, 2], dtype=int64)

In [20]:
# Change values in day_week column
master_df.DAY_WEEK[master_df.DAY_WEEK == 1] = 'Sunday'
master_df.DAY_WEEK[master_df.DAY_WEEK == 2] = 'Monday'
master_df.DAY_WEEK[master_df.DAY_WEEK == 3] = 'Tuesday'
master_df.DAY_WEEK[master_df.DAY_WEEK == 4] = 'Wednesday'
master_df.DAY_WEEK[master_df.DAY_WEEK == 5] = 'Thursday'
master_df.DAY_WEEK[master_df.DAY_WEEK == 6] = 'Friday'
master_df.DAY_WEEK[master_df.DAY_WEEK == 7] = 'Saturday'

C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
master_df.REST_USE.unique()

array([19,  3, 17, 29, 20, 98, 99,  1,  7,  0, 97,  2, 16,  5, 15,  8],
      dtype=int64)

In [22]:
# Change values in rest_use column
master_df.REST_USE[master_df.REST_USE == 19] = 'Helmet'
master_df.REST_USE[master_df.REST_USE == 17] = 'No Helmet'
master_df.REST_USE[master_df.REST_USE == 29] = 'Unknown'
master_df.REST_USE[master_df.REST_USE == 20] = 'No Helmet'
master_df.REST_USE[master_df.REST_USE == 16] = 'Helmet'
master_df.REST_USE[master_df.REST_USE == 5] = 'Helmet'
master_df.REST_USE[master_df.REST_USE == 15] = 'No Helmet'

C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
master_df.REST_USE.unique()

array(['Helmet', 3, 'No Helmet', 'Unknown', 98, 99, 1, 7, 0, 97, 2, 8],
      dtype=object)

In [32]:
master_df.DRINKING.unique()

array([0, 8, 1, 9], dtype=int64)

In [33]:
# Change values in drinking column
master_df.DRINKING[master_df.DRINKING == 0] = 'No'
master_df.DRINKING[master_df.DRINKING == 1] = 'Yes'
master_df.DRINKING[master_df.DRINKING == 8] = 'Unknown'
master_df.DRINKING[master_df.DRINKING == 9] = 'Unknown'

C:\Users\lourd\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
# Create df with helmet data only
helmet_master_df = master_df.loc[(master_df['REST_USE'] == 'Helmet') | (master_df['REST_USE'] == 'No Helmet') | (master_df['REST_USE'] == 'Unknown')]

In [34]:
helmet_master_df

,Unnamed: 0,ST_CASE,PERSONS,COUNTY,CITY,DAY,MONTH,YEAR,DAY_WEEK,HOUR,...,ALIGNMNT,PROFILE,PAVE_TYP,SUR_COND,TRA_CONT,T_CONT_F,HIT_RUN,C_M_ZONE,latitude,longitud
0,0,480024,2,7,0,4,1,2018,Thursday,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,480041,3,439,260,5,1,2018,Friday,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,480044,2,27,3690,6,1,2018,Saturday,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,480044,2,27,3690,6,1,2018,Saturday,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,480044,2,27,3690,6,1,2018,Saturday,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13395,270,482800,6,61,0,28,11,1998,Saturday,11,...,2.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13396,271,482800,6,61,0,28,11,1998,Saturday,11,...,2.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13402,279,482844,1,201,3280,6,12,1998,Sunday,22,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13403,280,482860,1,29,6090,9,12,1998,Wednesday,2,...,1.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13417,298,483021,1,85,5730,29,10,1998,Thursday,0,...,2.0,1.0,1.0,1.0,40.0,3.0,0.0,0.0,NaN,NaN

In [35]:
master_df

,Unnamed: 0,ST_CASE,PERSONS,COUNTY,CITY,DAY,MONTH,YEAR,DAY_WEEK,HOUR,...,ALIGNMNT,PROFILE,PAVE_TYP,SUR_COND,TRA_CONT,T_CONT_F,HIT_RUN,C_M_ZONE,latitude,longitud
0,0,480024,2,7,0,4,1,2018,Thursday,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,480024,2,7,0,4,1,2018,Thursday,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,480041,3,439,260,5,1,2018,Friday,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,480041,3,439,260,5,1,2018,Friday,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,480044,2,27,3690,6,1,2018,Saturday,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13421,302,483068,1,141,2190,19,12,1998,Saturday,21,...,1.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13422,303,483113,2,201,0,7,10,1998,Wednesday,13,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13423,304,483113,2,201,0,7,10,1998,Wednesday,13,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13424,305,483167,3,113,2590,10,7,1998,Friday,21,...,1.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
13425,306,483167,3,113,2590,10,7,1998,Friday,21,...,1.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN

In [36]:
# write stacked df to csv file
master_fatal.to_csv('../../Cleaned/MASTER_fatalOnly.csv')

In [37]:
# write stacked df to csv file
master_df.to_csv('../../Cleaned/MASTER_forPlots.csv')

In [38]:
# write stacked df to csv file
helmet_master_df.to_csv('../../Cleaned/MASTER_forhelmet.csv')